global
    log stdout format raw local0

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 10s
    timeout client 1h
    timeout server 1h

frontend temporal_grpc
    bind :7233 ssl crt /usr/local/etc/haproxy/certs/server.pem ca-file /usr/local/etc/haproxy/certs/ca.pem verify required alpn h2
    default_backend temporal_server

backend temporal_server
    server temporal temporal:7233 check inter 5s fall 3 rise 2
